/*
    File: main.css
    Author: Cullin Lam cullin_lam@student.uml.edu
    UMass Lowell 91.461 GUI Programming I
    created on: 2015-09-08

    This file is a stylesheet used to style my index.html web page

    updated on: 

    2015-09-21
        - Wrote rule for span class Due, changed background image for body 
          saved all images to img folder. 

    2015-09-20 
        - Wrote rules for jumbotron, col-md-4 classes and col-md-4 --> h2 tag
*/ 

body {
    background-image: url(../img/coralbeige.1.jpg); 
    background-size: auto;  
    background-repeat: repeat; 
    background-position: center; 
}

.jumbotron {
    background-color: black; 
    background-image: url(../img/ucc_cover.jpg); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 1000px 380px; 
    outline-style: ridge;
    outline-color: #DEE2E3; /*Light Gray*/ 
    color: #EB3333; /*red*/ 
    font-weight: 900; 
    text-shadow: 2px 2px black;  
}

.col-md-4 h2 {
    color: #EB3333;/*red*/ 
    font-weight: 500; 
}

.col-md-4 {
    outline-width: thin;
    outline-style: groove;
    outline-color: rgb(127, 212, 223); /*Cyan*/ 
    padding: 25px; 
    margin: 5px; 
    max-height: 500px; 
    max-width: 400px; 
    background-color: #DEE2E3; 
}

/* Due date of assignment */ 
.Due {
    font-weight: 700; 
}