/*
    Author: Cullin Lam clam@cs.uml.edu
    Created: 12/18/15
    File: scrabble.css

    This stylesheet styles scrabble.html page
*/
#board {

    display: block;
    font-size: 0;
    border-color: black ;
    border-width: 2px;

}

#rack{

    text-align: center ;
    display: inline ;
}

.draggable, .droppable {

    display: inline-block ;

}