/*
Author: Cullin Lam clam@cs.uml.edu
Created: 2015-10-20
Updated: 2015-10-20
    -Added positioning for table and form elements

 This stylesheet styles mult_table.html
*/
th {
    color: orange;
    background-color: whitesmoke;
    margin: auto;
    padding: 5px;
    border: thin;
    border-style: solid;
}

td{
    font-size: medium;
    border-bottom: solid 1px;
    border-right: solid 1px;
    background-color: lavender;
    color: cornflowerblue;
}

table{
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-left: auto;
    margin-right: auto;
    color: cornflowerblue;
    font-size: 14pt;
    height: 200%;
    width: 200%;
}
p {
    margin: 10px;
}
